010cc/build-dir
010cc/010cc
*.o
*.a
nauty/gtools.h
nauty/makefile
nauty/naututil.h
nauty/nauty.h
nauty/NRswitchg
nauty/addedgeg
nauty/amtog
nauty/biplabg
nauty/catg
nauty/complg
nauty/config.log
nauty/config.status
nauty/copyg
nauty/countg
nauty/deledgeg
nauty/directg
nauty/dreadnaut
nauty/dretog
nauty/genbg
nauty/geng
nauty/genrang
nauty/gentourng
nauty/labelg
nauty/linegraphg
nauty/listg
nauty/multig
nauty/newedgeg
nauty/pickg
nauty/planarg
nauty/ranlabg
nauty/shortg
nauty/showg
nauty/subdivideg
nauty/watercluster2
db.kch
